<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${book_name} / Where is home?</title>
    <link rel="shortcut icon" href="ico.png" type="image/x-icon" />

    ${import:css/core-base.css}
  </head>
  <body>
    <div style="text-align: center" class="content">
      <div class="header">
        <h2>Nothing in mind?</h2>
      </div>
      <p id="pathName"></p>
      <p>The index page doesn't exists.</p>
      <p>A good way to get started is to create your first page!</p>
      <p>
        Create a <code>index.md</code> in <code>src</code> and run a
        <code>dockmaker serve</code> again to apply changes. Then, came back
        here and check if it worked!
      </p>

      <br />
      <p>
        <italic
          >This page replaces <code>index.md</code> in <code>src</code>.</italic
        >
      </p>
    </div>
  </body>
</html>
