<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR_TITLE</title>

    <style>
      body {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>ERROR_TITLE</h1>
    <p>ERROR_DATA_INFO</p>
    <hr />
    <a href="HOME_URL" style="color: black">-> Root</a>
    <p>
      This is a placeholder core page from dockmaker. (you not gonna see this in
      github pages)
    </p>
  </body>
</html>
